* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Open Sans";
    
}
.header {
    width: 100%;
    height: 100px;
    background-color: #28A745;
}
.head {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    color: #fff;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head input {
    width: 520px;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #DFDFDF;
    border-radius: 3px;
}
.main {
    width: 1100px;
    height: 100%;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    margin: 16px auto 0;
}
.main-insert {
    padding: 20px; 
}
.add-title {
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 8px;
}
.input-add {
    height: 20px;
    width: 172px;
    padding: 8px 12px;
    border: 1px solid #DFDFDF;
    border-radius: 3px;
    margin-right: 8px;
}
.form-add {
    margin-bottom: 16px;
}
.submit-add {
    background-color: #343A40;
    padding: 8px 12px;
    border: 2px solid #343A40;
    font-size: 16px;
    border-radius: 3px;
    color: #CAF3FF;
}
.submit-add:hover {
    background-color: rgb(16, 16, 26);
    color: #fff;
    border: 2px solid rgb(16, 16, 26);
}
.list-group {
    list-style: none;
    border: 1px solid #DFDFDF;
    border-radius: 3px;
}
.list-group-item {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 12px 20px;
    border-bottom: 1px solid #DFDFDF;
}
.list-group:last-child {
    border-bottom: 0px solid #DFDFDF;
}
.delete {
    height: 31px;
    font-style: 15px;
    padding: 4px 8px;
    background-color: #DC3545;
    color: #fff;
    border: 1px solid #DC3545;
    border-radius: 3px;
}
.delete:hover {
    background-color: rgb(168, 7, 7);
    border: 1px solid rgb(168, 7, 7);
}